#frame19to20 {
  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: url(#radial-gradient);
  }

  .cls-3 {
    fill: #dce080;
  }

  .cls-23,
  .cls-24,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-3,
  .cls-4,
  .cls-5 {
    fill-rule: evenodd;
  }

  .cls-4 {
    fill: #a2bc07;
  }

  .cls-5 {
    fill: #c3ce54;
  }

  .cls-6 {
    fill: url(#linear-gradient);
  }

  .cls-14,
  .cls-7 {
    fill: #fcc05b;
  }

  .cls-10,
  .cls-11,
  .cls-13,
  .cls-15,
  .cls-16,
  .cls-18,
  .cls-19,
  .cls-23,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-7 {
    mix-blend-mode: multiply;
  }

  .cls-8 {
    fill: url(#linear-gradient-2);
  }

  .cls-9 {
    fill: url(#linear-gradient-3);
  }

  .cls-10 {
    fill: url(#linear-gradient-4);
  }

  .cls-11 {
    fill: url(#linear-gradient-5);
  }

  .cls-12 {
    fill: url(#linear-gradient-6);
  }

  .cls-13 {
    opacity: 0.33;
  }

  .cls-15 {
    fill: url(#linear-gradient-7);
  }

  .cls-16,
  .cls-28 {
    fill: #fba929;
  }

  .cls-17 {
    fill: url(#linear-gradient-8);
  }

  .cls-18 {
    fill: url(#linear-gradient-9);
  }

  .cls-20 {
    fill: url(#linear-gradient-10);
  }

  .cls-21 {
    fill: url(#linear-gradient-11);
  }

  .cls-22 {
    fill: #fee7bf;
  }

  .cls-23 {
    fill: url(#linear-gradient-12);
  }

  .cls-24 {
    fill: url(#linear-gradient-13);
  }

  .cls-25 {
    fill: url(#linear-gradient-14);
  }

  .cls-26 {
    fill: url(#linear-gradient-15);
  }

  .cls-27 {
    fill: url(#linear-gradient-16);
  }

  .cls-29 {
    font-size: 45.81px;
    font-family: DeliusSwashCaps-Regular, Delius Swash Caps;
  }

  .cls-30 {
    letter-spacing: -0.03em;
  }

  .cls-31 {
    letter-spacing: -0.01em;
  }

  .cls-32 {
    letter-spacing: -0.01em;
  }

  .cls-33 {
    letter-spacing: -0.01em;
  }

  .cls-34 {
    letter-spacing: 0em;
  }

  .cls-35 {
    letter-spacing: -0.02em;
  }

  .cls-36 {
    letter-spacing: -0.03em;
  }

  .cls-37 {
    letter-spacing: -0.02em;
  }

  .cls-38 {
    letter-spacing: 0em;
  }

  .cls-39 {
    letter-spacing: -0.01em;
  }

  .cls-40 {
    letter-spacing: 0em;
  }

  .cls-41 {
    letter-spacing: -0.01em;
  }

  .cls-42 {
    fill: #662955;
  }

  .cls-43 {
    fill: #2b150f;
  }

  .cls-44 {
    fill: #e5a185;
  }

  .cls-45,
  .cls-46 {
    fill: #d78c74;
  }

  .cls-46 {
    opacity: 0.6;
  }

  .cls-47 {
    fill: #260d0a;
  }

  .cls-48 {
    fill: #d68003;
  }

  .cls-49 {
    fill: #2c393d;
  }

  .cls-50 {
    opacity: 0.17;
  }

  .cls-51 {
    opacity: 0.16;
  }

  .cls-52 {
    fill: #f2293a;
  }

  .cls-53 {
    fill: #ef9300;
  }

  .cls-54 {
    opacity: 0.09;
  }

  .cls-55,
  .cls-82 {
    fill: #fff;
  }

  .cls-56 {
    fill: #381911;
  }

  .cls-57 {
    fill: #6e2e59;
  }

  .cls-58 {
    fill: #773364;
  }

  .cls-59 {
    fill: #482316;
  }

  .cls-60 {
    fill: #c7dbe2;
  }

  .cls-61 {
    fill: #aac6ce;
  }

  .cls-62 {
    fill: #e79d84;
  }

  .cls-63 {
    fill: #e0692d;
  }

  .cls-64,
  .cls-82 {
    opacity: 0.1;
  }

  .cls-65 {
    fill: #a83800;
  }

  .cls-66 {
    opacity: 0.13;
  }

  .cls-67 {
    fill: #ff9661;
  }

  .cls-68 {
    fill: #422c1c;
  }

  .cls-69 {
    fill: #f27b35;
  }

  .cls-70 {
    fill: #ff8c5a;
  }

  .cls-71 {
    fill: #c1bfbf;
  }

  .cls-72 {
    fill: #b7b6b6;
  }

  .cls-73 {
    opacity: 0.07;
  }

  .cls-74 {
    fill: #e0e0e0;
  }

  .cls-75 {
    fill: #d6c8b8;
  }

  .cls-76 {
    fill: #4f3523;
  }

  .cls-77 {
    fill: #e7a387;
  }

  .cls-78 {
    fill: #79c2d3;
  }

  .cls-79 {
    fill: #230c08;
  }

  .cls-80 {
    fill: #140907;
  }

  .cls-81 {
    fill: #c78575;
  }

  .cls-83 {
    fill: #58a9b7;
  }

  .cls-84 {
    fill: #d8ae00;
  }

  .cls-85 {
    fill: #e09178;
  }

  .cls-86 {
    fill: #a55696;
  }

  .cls-87 {
    fill: #edc500;
  }

  .cls-88 {
    fill: #c16fb0;
  }

  .cls-89 {
    fill: #db82c4;
  }

  .cls-90 {
    letter-spacing: -0.01em;
  }

  .cls-91 {
    letter-spacing: -0.01em;
  }

  .cls-92 {
    letter-spacing: -0.01em;
  }

  .cls-93 {
    letter-spacing: -0.01em;
  }

  .cls-94 {
    letter-spacing: 0em;
  }

  .cls-95 {
    letter-spacing: -0.01em;
  }

  .cls-96 {
    letter-spacing: -0.01em;
  }
}