#frame21to22 {
  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: url(#radial-gradient);
  }

  .cls-3 {
    fill: #f4e5d4;
  }

  .cls-11,
  .cls-4 {
    fill: #efecd0;
  }

  .cls-10,
  .cls-14,
  .cls-15,
  .cls-16,
  .cls-17,
  .cls-18,
  .cls-19,
  .cls-4,
  .cls-7,
  .cls-8,
  .cls-9 {
    fill-rule: evenodd;
  }

  .cls-5,
  .cls-53,
  .cls-7 {
    fill: #fff;
  }

  .cls-6 {
    fill: #ff6559;
  }

  .cls-8 {
    fill: #dce080;
  }

  .cls-9 {
    fill: #a2bc07;
  }

  .cls-10,
  .cls-13 {
    fill: #c3ce54;
  }

  .cls-12,
  .cls-14 {
    fill: #7c9e00;
  }

  .cls-15 {
    fill: url(#linear-gradient);
  }

  .cls-16 {
    fill: url(#linear-gradient-2);
  }

  .cls-17,
  .cls-18,
  .cls-19 {
    mix-blend-mode: multiply;
  }

  .cls-17 {
    fill: url(#linear-gradient-3);
  }

  .cls-18 {
    fill: url(#linear-gradient-4);
  }

  .cls-19 {
    fill: url(#linear-gradient-5);
  }

  .cls-20 {
    font-size: 45.81px;
    font-family: DeliusSwashCaps-Regular, Delius Swash Caps;
  }

  .cls-21 {
    letter-spacing: -0.01em;
  }

  .cls-22 {
    letter-spacing: -0.01em;
  }

  .cls-23 {
    letter-spacing: -0.02em;
  }

  .cls-24 {
    letter-spacing: -0.01em;
  }

  .cls-25 {
    letter-spacing: -0.01em;
  }

  .cls-26 {
    fill: #7c7c7c;
    opacity: 0.27;
  }

  .cls-27 {
    fill: #2b150f;
  }

  .cls-28 {
    fill: #d18f78;
  }

  .cls-29 {
    fill: #c6806d;
  }

  .cls-30 {
    fill: #d78c74;
  }

  .cls-31 {
    fill: #dd9b72;
  }

  .cls-32 {
    fill: #381911;
  }

  .cls-33 {
    fill: #e5a185;
  }

  .cls-34,
  .cls-53 {
    opacity: 0.1;
  }

  .cls-35 {
    fill: #d0c66b;
  }

  .cls-36 {
    opacity: 0.13;
  }

  .cls-37 {
    fill: #ff9661;
  }

  .cls-38 {
    fill: #422c1c;
  }

  .cls-39 {
    fill: #c6b647;
  }

  .cls-40 {
    fill: #c1bfbf;
  }

  .cls-41 {
    opacity: 0.09;
  }

  .cls-42 {
    fill: #b7b6b6;
  }

  .cls-43 {
    opacity: 0.07;
  }

  .cls-44 {
    fill: #e0e0e0;
  }

  .cls-45 {
    fill: #d6c8b8;
  }

  .cls-46 {
    fill: #4f3523;
  }

  .cls-47 {
    fill: #ba7268;
  }

  .cls-48 {
    fill: #58a9b7;
  }

  .cls-49 {
    fill: #79c2d3;
  }

  .cls-50 {
    fill: #140907;
  }

  .cls-51 {
    fill: #e7a387;
  }

  .cls-52 {
    fill: #c78575;
  }

  .cls-54 {
    fill: #230c08;
  }

  .cls-55 {
    fill: #005786;
  }

  .cls-56 {
    fill: #0098c2;
  }

  .cls-57 {
    fill: #d3876c;
  }

  .cls-58 {
    fill: #70b8c4;
  }

  .cls-59 {
    fill: #4db2bc;
  }

  .cls-60 {
    fill: #2f2ff4;
  }

  .cls-61 {
    fill: #b56f57;
  }

  .cls-62 {
    fill: #934d3b;
  }

  .cls-63 {
    fill: #59bece;
  }

  .cls-64 {
    fill: #5ba5b2;
  }

  .cls-65 {
    fill: #70dae5;
  }

  .cls-66 {
    fill: #2d398c;
  }

  .cls-67 {
    fill: #3e46a3;
  }

  .cls-68 {
    fill: #5957c1;
  }

  .cls-69 {
    fill: #4646aa;
  }

  .cls-70 {
    letter-spacing: -0.03em;
  }

  .cls-71 {
    letter-spacing: -0.01em;
  }

  .cls-72 {
    letter-spacing: 0em;
  }
}