#frame25to27 {
  .cls-1 {
    fill: url(#radial-gradient);
  }

  .cls-2 {
    font-size: 45.81px;
    font-family: DeliusSwashCaps-Regular, Delius Swash Caps;
  }

  .cls-3 {
    letter-spacing: -0.02em;
  }

  .cls-4 {
    letter-spacing: -0.02em;
  }

  .cls-5 {
    letter-spacing: -0.01em;
  }

  .cls-6 {
    letter-spacing: 0em;
  }

  .cls-7 {
    fill: #2b150f;
  }

  .cls-8 {
    fill: #662955;
  }

  .cls-9 {
    fill: #d68003;
  }

  .cls-10 {
    fill: #e09178;
  }

  .cls-11 {
    fill: #e5a185;
  }

  .cls-12 {
    fill: #ef9300;
  }

  .cls-13 {
    opacity: 0.09;
  }

  .cls-14,
  .cls-15 {
    fill: #d78c74;
  }

  .cls-15 {
    opacity: 0.6;
  }

  .cls-16 {
    fill: #260d0a;
  }

  .cls-17 {
    fill: #2c393d;
  }

  .cls-18 {
    opacity: 0.17;
  }

  .cls-19 {
    opacity: 0.16;
  }

  .cls-20 {
    fill: #f2293a;
  }

  .cls-21,
  .cls-35 {
    fill: #fff;
  }

  .cls-22 {
    fill: #381911;
  }

  .cls-23 {
    fill: #6e2e59;
  }

  .cls-24 {
    fill: #773364;
  }

  .cls-25 {
    fill: #482316;
  }

  .cls-26 {
    fill: #e79d84;
  }

  .cls-27 {
    fill: #230c08;
  }

  .cls-28 {
    fill: #140907;
  }

  .cls-29 {
    fill: #c67a66;
  }

  .cls-30 {
    fill: #58a9b7;
  }

  .cls-31 {
    fill: #79c2d3;
  }

  .cls-32,
  .cls-35 {
    opacity: 0.1;
  }

  .cls-33 {
    fill: #e7a387;
  }

  .cls-34 {
    fill: #c78575;
  }

  .cls-36 {
    fill: #422c1c;
  }

  .cls-37 {
    fill: #c1bfbf;
  }

  .cls-38 {
    fill: #b7b6b6;
  }

  .cls-39 {
    opacity: 0.07;
  }

  .cls-40 {
    fill: #e0e0e0;
  }

  .cls-41 {
    fill: #d6c8b8;
  }

  .cls-42 {
    fill: #4f3523;
  }

  .cls-43 {
    letter-spacing: -0.01em;
  }

  .cls-44 {
    letter-spacing: -0.01em;
  }

  .cls-45 {
    letter-spacing: 0em;
  }

  .cls-46 {
    letter-spacing: -0.03em;
  }

  .cls-47 {
    letter-spacing: -0.03em;
  }

  .cls-48 {
    letter-spacing: 0em;
  }

  .cls-49 {
    letter-spacing: -0.02em;
  }

  .cls-50 {
    letter-spacing: -0.01em;
  }

  .cls-51 {
    letter-spacing: 0em;
  }

  .cls-52 {
    letter-spacing: -0.02em;
  }

  .cls-53 {
    letter-spacing: 0em;
  }

  .cls-54 {
    letter-spacing: -0.01em;
  }

  .cls-55 {
    letter-spacing: -0.01em;
  }

  .cls-56 {
    letter-spacing: -0.06em;
  }

  .cls-57 {
    fill: #7c7c7c;
    opacity: 0.27;
  }

  .cls-58 {
    fill: #c7dbe2;
  }

  .cls-59 {
    fill: #aac6ce;
  }

  .cls-60 {
    fill: #70b8c4;
  }

  .cls-61 {
    fill: #d3876c;
  }

  .cls-62 {
    fill: #e84221;
  }

  .cls-62,
  .cls-63,
  .cls-64,
  .cls-65,
  .cls-66 {
    fill-rule: evenodd;
  }

  .cls-63 {
    fill: #c73316;
  }

  .cls-64 {
    fill: #ffc821;
  }

  .cls-65 {
    fill: #cf8c06;
  }

  .cls-66 {
    fill: #e09a0d;
  }
}