@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.input-radio {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &-input {
    width: 0;
    height: 0;
    //TODO changed from -999999px auto scroll issue and added opacity 0
    top: 0;
    opacity: 0;
    position: absolute;
  }
  &-input[disabled] + .input-radio-checkmark {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &-input[disabled] ~ .input-radio-text {
    color: rgba(0, 0, 0, 0.31);
  }
  &-label {
    margin: 0px;
    cursor: pointer;
    width: fit-content;
    @include font_property($sourceSans, 16px, 20px, 400, $primary-font-color);
  }
  &-checkmark {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    position: relative;
    background-color: $white;
    border: 1px solid #cacfd7;
    border-radius: 50%;
    &::after {
      top: 6px;
      left: 6px;
      width: 6px;
      height: 6px;
      content: ' ';
      position: absolute;
      border-radius: 50%;
      background: white;
    }
  }
  &-input:checked + &-checkmark {
    border: 0px;
    background: $fadeBlueGradient;
  }
}
