.no-result-logo {
  height: 144px;
  width: 190px;
}

.empty-state {
  height: 100%;
}

.empty-header {
  color: #2F2F36;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  padding-top: 10px;
}

.empty-body {
  color: #80838F;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-left: 2px;
  padding-top: 6px;
}
