@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

// Overrides
%icon-overrides {
  .icon {
    font-size: 10px;
    margin-right: 8px;

    &.open {
      transform: rotate(90deg);
      display: inline-block;
    }
  }
}

// Multi-type Select Component Styles
.multi-type-select-component {
  @extend %icon-overrides;

  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;

  &:first-of-type {
    margin-top: 0;
  }

  & > .heading {
    @include font_property($sourceSans, 14px, 18px, 600, $primary-font-color);
    margin-bottom: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background: $off-white;
    padding: 8px;
    border-radius: $radius-sm-size;
  }

  & > .wrapper {
    margin-left: 12px;
  }

  .input-wrapper {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .section-container {
    margin-bottom: 8px;
  }
}
