.talent-details {
  padding: 24px;
  height: 300px;
  &-header {
    h5 {
      color: #2F2F36;
      font-family: "Source Sans Pro";
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      padding-bottom: 10px;
      border: solid #EEEBF0;
      border-width: 0px 0px 1px 0px;
    }
  }

  &-body {
    margin: 32px 0px;
    height: 200px;
    overflow-y: auto;
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(4, auto);

      .grid-item {
        h4 {
          color: #2F2F36;
          font-family: "Source Sans Pro";
          font-size: 18px;
          font-weight: 600;
          line-height: 16px;
          padding-bottom: 5px;
        }

        p {
          color: #63636F;
          font-family: "Source Sans Pro";
          font-size: 14px;
          line-height: 12px;
        }
      }
    }
  }
}
