@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.droppable-timeslot {
  background-color: #fbfafb;
  border: 2px dashed #b9bdcc !important;
}

.current-slot {
  background-color: #f7f5ff;
}


.weekly-view {
  .calendar-content {
    max-height: 500px;
    width: 200px;
    border-right: 1px solid black;
  }
  .calendar-timeslots {
    display: flex;
    flex-flow: column;
    .timeslot {
      min-width: initial !important;
    }
  }
}
