@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.content-request-component {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 160px;
  position: relative;

  .content-list-section {
    min-width: 160px;

    .content-section {
      display: flex;
    }

    .content-button {
      margin-right: 40px;
      display: inline-block;
      border: 0;
      outline: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      font-family: 'Rubik', sans-serif;
      letter-spacing: 0;
      text-transform: none;
    }
  }

  .photo-number {
    text-align: left;
    font-size: 12px;
    padding: 1px 7px 1px 7px;
    margin-bottom: 0;
  }
  .content-drop {
    text-align-last: left;
    position: absolute;
    top: 20px;
  }
  .content-list-button {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    text-align: inherit;
    border: 0;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 32px;
  }
  .popup {
    background: white;
    display: grid;
    z-index: $zIndexXMedium;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 215px;
    max-height: 200px;
    overflow: auto;
    border: none;
    box-shadow: 0 0 20px 0 rgba(91, 116, 141, 0.2);
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    border-radius: 5px;
  }

  .arrow-down {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #203149;
  }
}
