// Overrides
%input-fields-override {
  &:last-child {
    .input-wrapper {
      margin: 0;
    }
  }

  .input {
    &-wrapper {
      //margin-bottom: 14px;
    }

    &-label {
      text-align: left;
    }
  }
}

.change-password-component {
  .input-field-container {
    @extend %input-fields-override;
    position: relative;

    .icon {
      position: absolute;
      bottom: 12px;
      right: 11px;
      font-size: 13px;
      color: #b9bdcc;
      transition: all 0.1s ease-in;
      cursor: pointer;

      &:hover {
        color: #80838f;
      }
    }
  }
}
