<section id="home">

  <section id="first-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article>
            <h1>Soaring to new heights</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur corporis dolorem dolores
              eaque et illo in ipsa ipsam iusto laudantium modi nam neque non nulla omnis pariatur perferendis porro,
              possimus quae qui quis repellat sint tempore veniam voluptatem voluptates voluptatibus? Adipisci,
              consectetur ipsum itaque maxime minima neque numquam pariatur?</p>
            <button type="button" class="btn btn-success">Our Services</button>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="second-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <i class="fas fa-cog"></i>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque, aut, beatae cumque delectus
              ex non omnis placeat qui quia quos reiciendis repellendus totam vero voluptate? Accusantium debitis
              facilis molestias?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur exercitationem facilis
              incidunt ipsum, laborum laudantium molestias quisquam reprehenderit tempore unde velit vitae! Asperiores!</p>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, dignissimos est ipsam nihil
              nulla quibusdam quos rem repudiandae totam.</p>
            <cite>- Jane Doe</cite>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, dignissimos est ipsam nihil
              nulla quibusdam quos rem repudiandae totam.</p>
            <cite>- Jane Doe</cite>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, dignissimos est ipsam nihil
              nulla quibusdam quos rem repudiandae totam.</p>
            <cite>- Jane Doe</cite>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>