@import '../../styles/Variables';
@import '../../styles/Mixins';

.add-images-view-component {
  .title {
    margin-bottom: 12px;
    text-transform: uppercase;
    @include font_property($sourceSans, 14px, 18px, 600, $primary-font-color);
  }

  .add-area {
    margin-top: 10px;

    .secondary-cta {
      border: 0;
      padding: 0;
      text-align: left;
      width: fit-content;
    }

    .icon-circle-plus {
      margin-right: 6px;
    }

    .help-text {
      padding-left: 23px;
      @include font_property(
          $sourceSans,
          12px,
          16px,
          400,
          $secondary-font-color
      );
    }
  }
}
